# Profile (local: H2, dev: MySQL)
SPRING_PROFILES_ACTIVE=local

# Database (MySQL - dev only)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=board
DB_USERNAME=root
DB_PASSWORD=

# API Server
API_PORT=8080

# Front Server
FRONT_PORT=3000
